language: perl

perl:
    - "5.20"
    - "5.22"
    - "5.24"
    - "5.26"
    - "5.28"

install:
    - cpanm -qn --installdeps .
    - cpanm -qn --skip-satisfied Devel::Cover::Report::Codecov
    - cpanm -qn --skip-satisfied Devel::Cover::Report::Coveralls

after_success:
    - cover -test
    - cover -report codecov
    - cover -report coveralls
